.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(30px + 2vmin);
  color: white;
  margin: 10px;
  margin-bottom: 50px;
}

.Letters-container {
  display: grid;
  justify-content: center;
  align-content: flex-start;
  min-height: 100vh;
  grid-template-columns: repeat(8, 100px);
  grid-template-rows: repeat(5, 100px);
  margin: 10px;
}

.Letters-container button {
  font-size: 45px;
  background-color: white;
  margin: 5px;
}

.Guessing-container {
  min-height: 80px;
  font-size: 25px;
  display: grid;
  justify-content: space-around;
  grid-template-columns: repeat(auto-fit, minmax(50px, 1fr));
}

.Guessing-container span {
  margin: 5px;
  border-bottom: 1px solid black;
}

.red {
  color: red;
}